/* Scss Document */

.back{
		background-color: green;
	background-repeat: no-repeat;
	background-size: cover;
}
input{
	
	height: 60%;
	border-radius: 10px;
	margin: 5px;
}
input:hover{
	background-color: aqua;
}