/* Scss Document */
.foot{
		display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 50px;
}
.a{
	color: white;
	background-color: gray;
}
.b{

	color: white;
	background-color: gray;
}