/* Scss Document */
.main{
	 display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 170px;
}
label{
	border: 1px solid white;
	width: 700px;
	height: 2px;
	background-color: wheat;
}
h1{
	color: white;
}
.ti{
	color: black;
}
.icon{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 200px;
}
img{
	margin: 30px;
	height: 50px;
}
label:hover{
	background-color: black;
	border-color: black;
}
h1:hover,.ti:hover{
	color: red;
}